nav
{
    width :200px;
    float:left;
    
}


/*section
{
    margin-left:220px;
}
*/
section
{
    width:200px;
    position:fixed;
    top:50%;
    left:50%
}

li,ul
{
    list-style-type:none;
    display:inline-block;
}